.if
{
    text-align: center;
    background: #f1f72a;
    border-radius: 1rem;
    padding: 0 6.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.re
{
    text-align: center;
    background: #00fc43;
    border-radius: 1rem;
    padding: 0 7.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    
}

.di
{
    text-align: center;
    background: #f52a2a;
    border-radius: 1rem;
    padding: 0 7.3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
